* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: #837459;
}


.navbar {
    position: relative;
    overflow: hidden;
    transition: background-color 0.4s, transform 0.3s;
    background-color: #000000d4;
}

.navbar:hover {
    transform: scale(1.02);
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.8rem;
    color: #f1ad0f !important;
}

.nav-link {
    position: relative;
    color: #efd492;
    font-weight: 600;
    padding: 10px 15px;
    transition: color 0.3s;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f1ad0f; 
    transition: width 0.3s;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
}

.nav-link:hover {
    color: #efc033;
}

.nav-link:hover::after {
    width: 100%; 
}

.navbar-nav .nav-item {
    margin-right: 15px; 
}

.nav-link i {
    margin-right: 5px;
}


.logo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

footer {
    background-color: #000000d4;
}

.footer-logo {
    margin-left: 20px; 
}

.text-white a {
    color: #ffffff; 
    text-decoration: underline; 
}

.text-highlight {
    color: #f1ad0f; 
    font-weight: bold; 
    transition: transform 0.3s, color 0.3s; 
}

.text-highlight:hover {
    color: #ffffff; 
    transform: scale(1.1);
    text-decoration: none; 
}





