* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: #837459;
}

.navbar {
    background-color: black;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #f1ad0f !important;
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-link {
    position: relative;
    font-weight: 600;
    padding: 10px 15px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #efc033;
}

.nav-link:hover::after {
    width: 100%; 
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f1ad0f; 
    transition: width 0.3s;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
}

.navbar-nav.ml-auto {
    margin-left: auto;
}

#auth-buttons button {
    margin: 5px;
}


#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s;
    border: none;
    outline: none;      
}

#backToTop img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#backToTop:hover img {
    opacity: 0.8;
} 

.logo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.accordion-button {
    background-color: #8a6018; 
    color: #fff; 
    border-color: #8a6018; 
}

.accordion-button:not(.collapsed) {
    background-color: #8a6018; 
    color: #fff; 
    border-color: #495057; 
}

.accordion-button:hover {
    background-color: #060707; 
    border-color: #495057; 
}

.accordion-body {
    background-color: #f8f9fa;
    color: #343a40;
}

.accordion-item {
    margin-bottom: 0.5rem; 
}

.accordion-header .icon {
    margin-right: 8px; 
}

.btn-primary {
    background-color: #e9940bb6 !important;
    border-color: #e9940bb6 !important;
}

.section_questions_title {
    font-weight: bold;
    color: #d0cec7;
    font-size: 2rem;
}

.section_questions_sub_title {
    color: #d0cec7;
    font-size: 1rem;
}


.faq-section {
    margin: 50px auto; 
    max-width: 800px;
    padding: 40px; 
    background-color: #8a6018;
    color: white;
    border-radius: 10px;
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.card {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

.faq-question {
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.faq-question:hover {
    background-color: rgba(255, 255, 255, 0.3);
}


footer {
    background-color: #000000d4;
}

.footer-logo {
    margin-left: 20px; 
}

.text-white a {
    color: #ffffff; 
    text-decoration: underline; 
}

.text-highlight {
    color: #f1ad0f; 
    font-weight: bold; 
    transition: transform 0.3s, color 0.3s; 
}

.text-highlight:hover {
    color: #ffffff; 
    transform: scale(1.1);
    text-decoration: none; 
}

#scrollToTop {
    position: fixed;
    bottom: 20px; 
    right: 20px;
    display: none;
    z-index: 1000;
    border-radius: 50%; 
    padding: 10px 15px; 
    background-color: #8a6018; 
}

#scrollToTop:hover {
    background-color: #8a6018; 
}


@media (max-width: 768px) {
    .d-flex {
        flex-direction: column;
        align-items: center;
        text-align: center; 
    }
}